/*  ***********************************************/
/* General */
/*  ***********************************************/

body {
    margin: 0;
    font-family: sans-serif;
}

p {
    font-size: 1.2rem;
}

#content {
    min-height: 90vh;
}


/*  ***********************************************/
/* Header */
/*  ***********************************************/

header {
    background-color: rgb(3, 49, 87);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

#banner {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 160px;
}

#banner_link {
    min-width: 70%;
}


#banner img {
    height: 160px;
    width: auto;
    margin: 5px auto 5px;
    border-radius: 2em;
    border: solid 1px white;
}

header h1 {
    font-size: 3em;
}

header h1, header h2 {
    font-weight: 700;
    margin: 10px auto 20px;
    text-align: center;
}

header h2 {
    font-size: 2em;
    width: 80%;
    padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-top: 1px solid white;
}
header h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

/*  ***********************************************/
/* Nav */
/*  ***********************************************/


nav{
    background-color: rgb(3, 49, 87);
    top: 0px;
    position: relative;
}

@media only screen and (max-width: 650px) {
    nav ul {
        display: inline;
        text-align: center;
    }
  }

@media only screen and (min-width: 650px) {

    nav ul{
        position: sticky;
        display: flex;
        justify-content: center;
        min-width: calc(620px*0,8);
        width: 80%;
    }
    nav li {
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        font-size: 1.1em;
        margin-right: 5px;
    }
}

nav ul {
    padding-left: 0;
    list-style: none;
    margin: 0px auto 0px;
}

nav li {
    padding: 10px 20px 8px;
    background-color: rgb(199, 199, 199);
    color: black;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    background-color: white;
    color: black;
    text-shadow: 0.5px 0.5px 2px #000;
    cursor: pointer;
}

/*  ***********************************************/
/* Main */
/*  ***********************************************/


main {
    margin-top: 0;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid green; */
}

#page_wrapper {
    /* border: 3px solid green; */
}

#page_wrapper h2 {
    padding-top: 20px;
    padding-left : 20px;

}

/*  ***********************************************/
/* Sub-nav */
/*  ***********************************************/


#sub_nav{
    background-color: white;
    z-index: 1;
}

@media only screen and((max-width: 650px) or (max-height: 500px)) {
    #sub_nav{
        position: relative;
    }
  }

@media only screen and ((min-width: 650px) and (min-height: 500px)) {
    #sub_nav{
        top: 0px;
        position: sticky;
    }
}


#sub_nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: none;
    max-width: 80%;
    margin: 10px auto 5px;
    list-style: none;
    padding-left: 0;
    padding: 2px;
}

#sub_nav li {
    height: 30px;
    width: 120px;
    box-sizing: border-box;
    font-size: 1.1em;
    background-color: rgb(216, 216, 216);
    border-radius: 1em;
    margin: 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sub_nav #liProfile {
    background-color: darkorange;
}

#sub_nav li:hover {
    border: 4px solid orange;
    background-color: rgba(255, 166, 0, 0.267);
    cursor: pointer;
}

.active_sub_li {
    display: block;
}

.inactive_sub_li {
    display: none;
}


/*  ***********************************************/
/* Main display */
/*  ***********************************************/

#main_window {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    /* border: 4px solid orange; */
}

@media only screen and (max-height: 500px)  {
    #main_window {
        min-height: 400px;
    }
}

@media only screen and (min-height: 500px)  {
    #main_window {
        /* max-height: 50vh; */
        min-height: 900px;
    }
}

article {
    min-height: 200px;
    font-family: Arial;
}

.art_feature h2 {
    text-align: center;
    font-size: 1.6rem;
    font-style: oblique;
    line-height: 1.4;
    color: darkblue;
    background-color: rgb(243, 243, 243);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}
.art_feature h3 {
    font-size: 1.4rem;
}

.featcard {
    padding-bottom: 20px;
}

.cardeven{
    border-left: 5px solid rgb(3, 49, 87);
    border-bottom: 1px solid rgb(3, 49, 87);
    padding-left: 30px;
    padding-right: 5px;
}

.cardodd:last-of-type{
    border-bottom: 0;
}

.cardodd{
    border-right: 5px solid rgb(3, 49, 87);
    border-bottom: 1px solid rgb(3, 49, 87);
    padding-right: 30px;
    padding-left: 5px;
}


.art_feature .featcard h3{
    font-size: 1.6rem;
    font-style: oblique;
    color: rgb(39, 43, 49);
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
}
.art_feature h2:hover{
    color:darkorange;
}

.art_feature .featcard p{
    font-size: 1.4rem;   
    /* font-style: oblique; */
    color: rgb(45, 74, 138);
    line-height: 1.3;
    font-weight: 500;
}

.cardeven h3 {
    text-align: left;
    margin-right: 15%; 
}
.cardeven p {
    text-align: right;
    margin-left: 10%;
}

.cardodd h3 {
    text-align: right;
    margin-left: 15%;
}
.cardodd p {
    text-align: left;
    margin-right: 10%;
}


.art_feature {
    /* border: 1px solid red; */
    display: none;
}

.simplefeat h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: 5px;
}
.simplefeat table{
    width: 100%;
    display: block;
}
.simplefeat table td{
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: left;
}



.art_feature img {
    height: auto;
    display: block;
    
}

@media only screen and (max-width: 650px) {
    .art_feature img {
        max-width: 110%;
        /* width: auto; */
        /* max-height: 200px; */
        margin-left: -5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 650px) {
    .art_feature img {
        max-width: 500px;
        margin: 0px auto;
    }
}


.art_feature h1 {
    font-size: 2em;
    font-style: italic;
    color: rgb(39, 43, 49);
    padding-bottom: 30px;
}


/*  ***********************************************/
/* Specific section styling */
/*  ***********************************************/

/*  ***********************************************/
/* Profile */
/*  ***********************************************/
#Profile {
    overflow: scroll;
    scrollbar-width: none;
    display: inline;
    /* display: none; */
}

#Profile ul {
    list-style: none;
    padding-left: 0px;
}
#Profile li {
    padding-bottom: 0.3em;
}


/*  ***********************************************/
/* Tech table */
/*  ***********************************************/

#techtable td {
    padding: 0;
    margin: 0;
}

#techtable img {
    width: 140px;
}

#techtable p {
    padding: 5px;
    margin: 5px;
}


/*  ***********************************************/
/* Experience */
/*  ***********************************************/


#Experience {
    display: none;
    /* display: inline; */
}



#Experience ul {
    position: relative;
    color: white;
    z-index: 0;
}

#Experience li{
    width: 280px;
    text-align: center; 
    background-color: rgb(3, 49, 87);
    /* background-color: rgb(216, 216, 216); */
    cursor: pointer;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


#Experience li:first-child {
    background-color: darkgreen;
    border-top: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#Experience li:hover {
    color: darkorange;
}

#Experience li:last-child {
    background-color: orange;
    color: black;
    font-weight: 6s00;
}

#Experience li:last-child:hover {
    color: red;
}

#exp_container {
    font-size: 1rem;
}

#exp_container ul {
    width: 320px;
    padding-left: 5px;
    list-style: none;
    /* border: 1px solid green; */
}


#exp_details {
    border-radius: 20px;
    border: 5px solid lightgray;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.5s ease, transform 0.3s ease-in-out;
    min-height: 200px; 
    display: none;
    margin-left: 5px;
    padding: 5px;
    padding-bottom: 20px;
}

#exp_details p {
    font-weight: 400;
    padding: 5px 20px;
    margin-bottom: 0;
    line-height: 1.3;
    font-size: 1.2rem;
}

@media only screen and (max-width: 650px) {
    #exp_container {
        display: inline-block;
        /* border: 1px solid magenta; */
    }
    #exp_details {
        left: 0;
        position:static;
    }
}

@media only screen and (min-width: 650px) {
    #exp_container {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        /* border: 1px solid magenta; */
    }
    #exp_details {
        flex: 1;
        position: relative;
    }
}




.Expdiv0 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 140px;
}
.Expdiv0 p:nth-child(1) {
    writing-mode: vertical-rl;
    rotate: 180deg;
    padding: 5px 5px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4;
    /* border: 1px solid orange; */
    
}
.Expdiv0 p:nth-child(2) {
    padding: 15px 15px;
    width: 90%;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3;
    /* border: 1px solid orange; */
}

.Expdiv0 .Expdesc {
    display: none;
    background-color: grey;
}



/*  ***********************************************/
/* Others */
/*  ***********************************************/


.prev h2{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}
.prev p {
    font-size: 1.2rem;
    padding: 20px;
}
.prev td {
    font-size: 1.2rem;
    padding: 10px;
}
.prev a {
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 600;
    color:rgb(3, 49, 87);
}
.prev table {
    margin: 0 auto;
    max-width: 90%;
}
.prev table td {
    padding: 10px;
}

#book_view {
    display: flex;
    flex-wrap: wrap; 
    height: auto;
    justify-content: center;
}

#book_summary {
    display: block; 
    margin: 0 auto 30px; 
    text-align: justify;
    padding: 0;
}

.book_page {
    padding-right: 10px;
    padding-bottom: 10px;
    height: auto;
}


@media only screen and (max-width: 650px) {
    #book_view {
        max-width: 90%;
        margin: 5px auto;
    }
    .book_page {
        max-width: 90%; 
    }
    #book_summary {
        max-width: 80%; 
    }
}
@media only screen and (min-width: 650px) {
    #book_view {
        max-width: 80%;
        margin: 20px auto;
    }
    .book_page {
        max-width: 45%;        
    }
    #book_summary {
        max-width: 70%; 
    }
}

#pdf_embed {
    display: none;
    justify-content: center;
    align-items: center; 
    height: 80vh; 
}

.contact a{
    text-decoration: none;
    color:rgb(3, 49, 87);
}
.contact a:hover {
    color: darkorange;
}



/*  ***********************************************/
/* Footer */
/*  ***********************************************/

footer {
    background-color: rgb(3, 49, 87);
    color: white;
    position: relative;
    bottom: 0;
    text-align: center;
    min-height: 160px;
    max-width: 1200px;
    margin: 0px auto;
    /* line-height: 120px; */
    padding-top: 30px;
}


/*  ***********************************************/
/* Other pages css */
/*  ***********************************************/

.contactlink {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;

}